@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@700&display=swap');

@theme {
  --color-background: #ffffff;
  --color-primary: #3730a3;
  /* Indigo 800 */
  --color-primary-foreground: #ffffff;
  --color-secondary: #e0e7ff;
  /* Indigo 100 */
  --color-accent: #4338ca;
  /* Indigo 700 */
  --color-muted: #f3f4f6;
  --color-success: #15803d;
  --color-warning: #b45309;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-primary font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}